/* 
colores:
Celeste: #4F7ED0
Azul: #1D2C78
Negro: #000000
Gris: #EEEDF3
*/

@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Quicksand:wght@500&display=swap');
@font-face {
	font-family: Browser;
	src: url('./fonts/Browser.ttf')
}



* {
	margin: 0.2rem;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Abel', sans-serif;
	background: #EEEDF3;
}

header {
	background: #1D2C78;
	color: #4F7ED0;
}


.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.marca h1 {
	font-family: Browser;
	font-weight: lighter;
	color: white;
	font-size: 2.2rem;
}

.marca p {
	font-family: 'Abel', sans-serif;
	color: white;
	font-weight: lighter;
	font-size: 1,6rem;
}

.logo img {
	width: 3.8em;
}

ul {
	min-width: 500px;
	display: flex;
	justify-content: space-around;

}

ul li{
	font-size: 1.2rem;
	list-style: none;
	border-width: 0.5rem;
	line-height: 0.5rem;
	padding: 0.9rem;
	border: 0.15rem solid #4F7ED0;
	margin: 0.5rem;
	border-radius: 1rem 1rem 1rem 1rem;
	text-decoration: none;
}

a {
	color:white ;
	font-weight: bold;
	text-decoration: none;
	transition: all 1s ease;
}

a:hover {
	color: #1D2C78;
}

ul li:hover{
	border: 0.15rem solid white;
	border-radius: 1rem 1rem 1rem 1rem;
	background-color: white;
}

.contenedor {
	display: flex;
	align-items: flex-start;
}

.caja1 {
	margin: 1rem;
	width: 60%;
}

.caja2 {
	width: 40%;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

h2{
	margin: 0.4em;
	font-family: Browser;
	font-weight: lighter;
	color: #1D2C78;
	font-size: 3rem;
}

.caja1 h3{
	font-family: 'Abel', sans-serif;
	font-weight: bolder;
	font-size: 1.7rem;
	width: auto;
	text-align: center;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	margin-top: 0.5rem;
	border-radius: 1rem 1rem 1rem 1rem;
	border-color: black;
	border: 0.15rem solid #4F7ED0;
	color: #1D2C78;

}

.caja1 p{
	overflow-wrap: break-word;
	font-family: 'Abel', sans-serif;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	margin: 1rem;
	font-weight: 500;
}

footer{
	text-align: center;
}

#logolargo{
	width: 10em;
}

@media (max-width: 576px) {
	ul{
		flex-direction: column;
		align-items: flex-start;
	}

	.contenedor{
		flex-direction: column-reverse;
		align-items: center;
	}

	.caja1{
		width: 100%;
	}

}




